
# Exclude certain file types
**/*.class
**/*.py

#exclude certain directories
.vscode/
python/

# Exclude gradle kotlin directories
.kotlin/
.gradle/
gradle/
gradlew
gradlew.bat

# Exclude build directory
build/
