
# Exclude certain files and/or file types
**/*.class
**/*.py
.LCK**

#Exclude certain directories
.vscode/
python/

# Exclude gradle kotlin directories
.kotlin/
.gradle/
gradle/
gradlew
gradlew.bat

# Exclude build directory
build/
