
# Exclude certain files and/or file types
**/*.class
**/*.py
.LCK**

#Exclude certain directories
.vscode/
python/

# Exclude gradle directories and files
.kotlin/
.gradle/
gradle/
gradlew
gradlew.bat

# Our build config will need to be manually updated from now on
build.gradle.kts
settings.gradle.kts

# Exclude build directory
build/
